extends ../layout/index

block contenido
    section.py-3
        h1.text-5xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raíces
        h2.text-center.text-4xl.font-extrabold= view  

        if errors
            div(class="max-w-md mx-auto my-10")
                each error in errors
                    p.text-red-600.font-semibold.p-1= error.msg

        .mt-8.mx-auto.max-w-md  
            .bg-white.py-8.px-4.shadow 
                form(method="POST" noValidate).space-y-5
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Nuevo Password:   
                        input#password.w-full.p-3.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder="Nuevo password"
                        type="password" name="password")
                   
                    input(class="hover:bg-indigo-700 w-full bg-indigo-600 text-white font-bold py-3 cursor-pointer")(
                        type="submit" value="Guardar Password")