doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
        //-* bloque necesario para agregar el mapa de geolocalización de leaflet
        block styles
    body.min-h-screen.bg-gray-50
        include includes/headerAdmin
        
        main.mx-auto.container.mt-4.px-2
            block contenido
        
        //- * Para los scripts del mapa con leaflet
        block scripts