doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | #{pagina}
        //-* bloque necesario para agregar el mapa de geolocalizaci칩n de leaflet
        //-* Si no toma los estilos tailwindCSS, dejar primero block styles y luego link:css
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50
        include includes/headerApp
        
        main.mx-auto.container.mt-4.px-2
            block contenido
        
        //- * Para los scripts del mapa con leaflet
        block scripts

//- * Tenemos un layout index.pug para todo lo que tiene que ver con autenticaci칩n.
//- * Otro layout admin.pug que es para los usuarios autenticados.
//- * Layout app.pug para las p치ginas del front-end que ser치n diferentes a las del admin